</body>
<footer class="header class= d-flex justify-content-center py-3">
    <div class="col-md-4 d-flex align-items-center">

        <span class="white">&copy; 2023 Comisión 21648 B, Esteban Gabriel Llave</span>

    </div>
</footer>

</html>